---
title: Discography
subtitle: Discog
description: Records I have published over the years
tags:
  - discography
  - releases
  - music
  - full-length
  - albums
  - EP
video_path:
image: /assets/img/discog2014.jpg
---

<!-- Banner -->
<section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center" style="min-height:100vh;">
  <div class="content editable">
    <h1 class="editable">{{ page.subtitle }}</h1>
    <p>{{ page.description }}</p>
    <ul class="actions stacked">
      <li><a href="#moe" class="button small smooth-scroll">Play it!</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ relBase }}{{ page.image }}" alt="{{ page.title }}" class="editable" />
  </div>
</section>

<section class="wrapper style1 align-center" id="moe">

  <div class="inner">
    <h2 class="editable">Most of my work</h2>
    <p class="editable">A slection of my work</p>
  </div>

</section>

{% assign sorted = site.albums | sort: 'date' | reverse %}
{% for album in sorted %}

<section class="spotlight style4 orient-{% cycle 'left', 'right' %} content-align-left image-position-center onscroll-image-fade-in" {% if forloop.index == 1 %}style="box-shadow: none;" {% endif %}>
  <div class="content">
    <h1>{{ album.title }}</h1>



    <p>{{ album.date | date: '%Y' }}</p>
    
    {% for track in album.tracks %}
    <p style="margin-bottom: 30px;font-size: 14px">
      <strong>{{ track.common.track.no }}. {{ track.common.title }}</strong><br />
      <span>{% assign round_seconds = track.format.duration | round %}{% assign minutes = round_seconds | divided_by: 60 %}{% assign leftover_seconds = minutes | times: 60 %}{{ minutes }}:{% assign seconds_without_zero = round_seconds | minus: leftover_seconds %}{% if seconds_without_zero < 10 %}0{% endif %}{{ seconds_without_zero }}</span>{% if track.common.genre != null %} | 
      <span style="font-size: 14px">{{ track.common.genre }} </span>{% endif %}
    </p>
   


    {% endfor %}

<br />
    <ul class="actions stacked">
      <li><a href="{{ album.url }}" class="button small{% if post.category == 'releases' %}icon solid fa-volume-up{% endif %}">Listen</a>
      </li>
    </ul>
  </div>

  <div class="image">
    <img src="{{ site.mediaurl }}/{{ album.slug }}/{{ album.tracks[0].trackSlug }}.jpeg" alt="{{ album.title }}" title="{{ album.title }}" />

  </div>
</section>

{% endfor %}

{% include streamer.html %}

{% include footer.html %}
