---
title: Links
subtitle: Links
description: >-
  Venture outside of your daily web-routine, read about some real projects.
  These links are way more than just Friends and Resources
tags:
  - links
  - music
  - record
  - labels
  - resources
  - friends
video_path: /assets/vid/links.mp4
image: /assets/img/linkbg.jpg
---

{% include relBase.html %}
<!-- Banner -->
<section class="banner onload-image-fade-in onload-content-fade-right style2 fullscreen content-align-center image-position-center">

  <div class="image">
    <img src="{{ relBase }}{{ page.image }}" alt="{{ page.title | smartify }}" class="editable" />
  </div>
</section>
<!-- NEWS -->
<section id="news" class="wrapper style1 align-center">
  <div class="inner" style="padding-top: 40px;">
    <h1>{{ page.title }}</h1>
    <p>{{ page.description }}</p>
    </div>
</section>
{% assign sorted = site.data.links | sort: 'title' %}
{% for link in sorted %}

<section id="second" class="spotlight style5 orient-{% cycle 'left', 'right' %} content-align-{% cycle 'right', 'left' %} image-position-center onscroll-image-fade-in" {% if forloop.index == 1 %}style="box-shadow: none;" {% endif %}>
  <div class="content">
    <h2>{{ link.title }}</h2>
    <p>{{ link.banner }}</p>
    <ul class="actions stacked">
      <li><a href="{{ link.url }}?ref=SakrecoerSentMe" target="_blank" rel="noopener" style="text-decoration:none;" class="button small">Visit</a></li>
    </ul>
  </div>
  <div class="image">
    <img src="{{ relBase }}/assets/img/tile.gif" alt="{{ page.title | smartify }}" />
  </div>
</section>

{% endfor %}
{% include footer.html %}








