<!-- 
..............................................  
.............................................. 
...........'';,...............................
.........'',,;:o:,............................ 
.......',;;::::::;;;,.........................
.....,;:ooooooooooo;,,''''....................
....,;ooooooooooooooo;,'..'''''...............             
...,:ooooooooooooooooo;''......'''............          
..,;:ooooooooooooooooo',,.........,'..........   _______                         _         _         __
..,,;:,ooooo;;:ooo;o,:;,',.........;,''.......   \____  \____  _____ __________ |_| ______/ |_  ___ |  |   
..,'..,,;:o,''.,;;'''..'';,,,,,,''',;'''......    |  | _/\__ \/  __//  __/\___ \| |/  __/\   _\/   \|  |  
..,'......':ooo:.......'';,'''''''',;,,,......    |  | _/\__ \/  __//  __/\___ \| |/  __/\   _\/   \|  | 
..,,.......,:o:'.......,'oooo:::::;:,.',;,....    |  | _/\__ \/  __//  __/\___ \| |/  __/\   _\/   \|  | 
..','.................',,..'',,,;;;;;;,.,:....    |  |  \ / _ \__ \ \__ \ | |_> > |\__ \  | | (  <> )  |__              
...,,'...............',;oooooooooo:;;:,;oo,...    |____ /(___ /___ >___  >|  __/|_/____ > |_|  \___/|____/ 
....,,'.............,,;ooooooooo;,..'',oooo,..        \/    \/   \/    \/ |_|         \/     
.....',,'........',,;ooo::;;,'........'oooo;..  
.......'',,'''',,;;;,,'...............';;;'...                 All you saw was sound!    
...........'''''.............................. 
..............................................  
..............................................                                                   
..............................................                             
..............................................                                               
-->
{% if page.collection == 'tracks' %}
<!-- BEGIN seo.html -->

<title>Play {{ page.common.title }} by {{ page.common.artist }} | {{ site.title }}</title>
<meta name="title" content="Play &quot;{{ page.common.title| strip_html }}&quot; by {{ page.common.artist }}" />
<meta name="description" content="A track by {{ page.common.artist }} named &quot;{{ page.common.title | strip_html }}&quot; published on {{ site.title }}" />
<meta name="dc.date.modified" scheme="ISO8601" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta name="robots" content="index" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}" />
<meta name="geo.region" content="{{ site.geo.region }}" />
<meta name="geo.placename" content="{{ site.geo.town }}" />
<meta name="geo.position" content="{{ site.geo.lat }};{{ site.geo.long }}" />
<meta name="ICBM" content="{{ site.geo.lat }}, {{ site.geo.long }}" />
<meta name="author" content="{{ site.title }}" />
<meta name="generator" content="Jekyll v4.0.0" />

<!-- Dublin Core basic info -->

<meta name="dcterms.Identifier" content="{{ site.url }}" />
<meta name="dcterms.Format" content="text/html" />
<meta name="dcterms.Relation" content="{{ site.title }}" />
<meta name="dcterms.Publisher" content="{{ site.publisher.name }}" />
<meta name="dcterms.Type" content="text/html" />
<meta name="dcterms.Coverage" content="{{ site.url }}/" />
<meta name="dcterms.Rights" content="Copyright &copy;{{ site.time | date: '%Y' }} {{ site.title }}." />
<meta name="dcterms.Subject" content="A track by {{ page.common.artist }} named &quot;{{ page.common.title| strip_html }}&quot; published on {{ site.title }}" />
<meta name="dcterms.Title" content="Play &quot;{{ page.common.title| strip_html }}&quot; by {{ page.common.artist }}" />
<meta name="dcterms.Contributor" content="{{ site.title }}" />
<meta name="dcterms.Date" content="{{ page.last_modified_at | date: '%Y-%m-%d' }}" />
<meta name="dcterms.Description" content="Listen and to a track by {{ page.common.artist | strip_html }} from the release &quot;{{ page.common.album | strip_html }}&quot; and support your remote artist!" />

<!-- Facebook -->

<meta property="og:title" content="{{ page.common.title }}" />
<meta property="og:locale" content="en" />
<meta property="og:description" content="Listen and to a track by {{ page.common.artist | strip_html }} from the release &quot;{{ page.common.album | strip_html }}&quot; and support your remote artist!" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="music:album:track" />
<meta property="og:audio" content="{{ site.mediaurl }}/{{ page.slug }}.mp3" />
<meta property="article:published_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta property="og:image" content="{{ site.mediaurl }}/{{ page.slug }}.jpeg" />
<!-- Twitter Card -->

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.common.title }} | {{ site.title }}" />
<meta name="twitter:description" content="Listen and to a track by {{ page.common.artist | strip_html }} from the release &quot;{{ page.common.album | strip_html }}&quot; and support your remote artist!" />
<meta name="twitter:image" content="{{ site.mediaurl }}/{{ page.slug }}.jpeg" />


{% elsif page.collection == 'albums' %}

<!-- BEGIN seo.html -->
{% capture namelist %}{% for art in page.artists %}{{ art }}{% unless forloop.last %}, {% endunless %}{% endfor %}{% endcapture %}
{% capture artist %}{{ namelist }}{% endcapture %}

<title>Play &quot;{{ page.name }}&quot; by {{ artist | uniq }} | {{ site.title }}</title>
<meta name="title" content="Play &quot;{{ page.name | strip_html }}&quot; by {{ artist | uniq }}" />
<meta name="description" content="A release by {{ artist | uniq }} named &quot;{{ page.name | strip_html }}&quot; published on {{ site.title }}" />
<meta name="dc.date.modified" scheme="ISO8601" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta name="robots" content="index" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}" />
<meta name="geo.region" content="{{ site.geo.region }}" />
<meta name="geo.placename" content="{{ site.geo.town }}" />
<meta name="geo.position" content="{{ site.geo.lat }};{{ site.geo.long }}" />
<meta name="ICBM" content="{{ site.geo.lat }}, {{ site.geo.long }}" />
<meta name="author" content="{{ site.title }}" />
<meta name="generator" content="Jekyll v4.0.0" />

<!-- Dublin Core basic info -->

<meta name="dcterms.Identifier" content="{{ site.url }}" />
<meta name="dcterms.Format" content="text/html" />
<meta name="dcterms.Relation" content="{{ site.title }}" />
<meta name="dcterms.Publisher" content="{{ site.publisher.name }}" />
<meta name="dcterms.Type" content="text/html" />
<meta name="dcterms.Coverage" content="{{ site.url }}/" />
<meta name="dcterms.Rights" content="Copyright &copy;{{ site.time | date: '%Y' }} {{ site.title }}." />
<meta name="dcterms.Subject" content="A release by {{ artist | uniq }} named &quot;{{ page.name | strip_html }}&quot; published on {{ site.title }}" />
<meta name="dcterms.Title" content="Play &quot;{{ page.name | strip_html }}&quot; by {{ artist | uniq }}" />
<meta name="dcterms.Contributor" content="{{ site.title }}" />
<meta name="dcterms.Date" content="{{ page.last_modified_at | date: '%Y-%m-%d' }}" />
<meta name="dcterms.Description" content="Listen and to a release by {{ artist | uniq }} named &quot;{{ page.name | strip_html }}&quot; and support your remote artist!" />

<!-- Facebook -->

<meta property="og:title" content="{{ page.name }} by {{ artist | uniq }}" />
<meta property="og:locale" content="en" />
<meta property="og:description" content="Listen and to a release by {{ artist | uniq }} named &quot;{{ page.name | strip_html }}&quot; and support your remote artist!" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="music:album" />
{% for track in page.tracks %}<meta property="og:audio" content="{{ site.mediaurl }}/{{ track.albumSlug }}/{{ track.trackSlug }}.mp3" />
{% endfor %}
<meta property="article:published_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta property="og:image" content="{{ site.mediaurl }}/{{ page.tracks[0].slug }}.jpeg" />
<!-- Twitter Card -->

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.name }} | {{ site.title }}" />
<meta name="twitter:description" content="Listen and to a release by {{ artist | uniq }} named &quot;{{ page.name | strip_html }}&quot; and support your remote artist!" />
<meta name="twitter:image" content="{{ site.mediaurl }}/{{ page.tracks[0].slug }}.jpeg" />



{% else %}
<!-- BEGIN seo.html -->

<title>{{ page.title }} | {{ site.title }}</title>
<meta name="title" content="{{ page.title }} | {{ site.title }}" />
<meta name="description" content="{{ page.description }}" />
<meta name="dc.date.modified" scheme="ISO8601" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta name="robots" content="index" />
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="canonical" href="{{ site.url }}{{ page.url }}" />
<link rel="alternate" hreflang="x-default" href="{{ site.url }}{{ page.url }}" />
<meta name="geo.region" content="{{ site.geo.region }}" />
<meta name="geo.placename" content="{{ site.geo.town }}" />
<meta name="geo.position" content="{{ site.geo.lat }};{{ site.geo.long }}" />
<meta name="ICBM" content="{{ site.geo.lat }}, {{ site.geo.long }}" />
<meta name="author" content="{{ site.title }}" />
<meta name="generator" content="Jekyll v4.0.0" />

<!-- Dublin Core basic info -->

<meta name="dcterms.Identifier" content="{{ site.url }}" />
<meta name="dcterms.Format" content="text/html" />
<meta name="dcterms.Relation" content="{{ site.title }}" />
<meta name="dcterms.Publisher" content="{{ site.publisher.name }}" />
<meta name="dcterms.Type" content="text/html" />
<meta name="dcterms.Coverage" content="{{ site.url }}/" />
<meta name="dcterms.Rights" content="Copyright &copy;{{ site.time | date: '%Y' }} {{ site.title }}." />
<meta name="dcterms.Subject" content="{{ page.description }}" />
<meta name="dcterms.Title" content="{{ page.title }}" />
<meta name="dcterms.Contributor" content="{{ site.title }}" />
<meta name="dcterms.Date" content="{{ page.last_modified_at | date: '%Y-%m-%d' }}" />
<meta name="dcterms.Description" content="{{ page.description }}" />

<!-- Facebook -->

<meta property="og:title" content="{{ page.title }} | {{ site.title }}" />
<meta property="og:locale" content="en" />
<meta property="og:description" content="{{ page.description }}" />
<meta property="og:url" content="{{ site.url }}{{ page.url }}" />
<meta property="og:site_name" content="{{ site.title }}" />
<meta property="og:type" content="webpage" />
<meta property="article:published_time" content="{{ page.last_modified_at | date_to_xmlschema }}" />
<meta property="og:image" content="{{ site.url }}{{ page.image }}" />
<!-- Twitter Card -->

<meta name="twitter:card" content="summary" />
<meta name="twitter:title" content="{{ page.name }} | {{ site.title }}" />
<meta name="twitter:description" content="{{ page.description }}" />
<meta name="twitter:image" content="{{ site.url }}{{ page.image }}" />


{% endif %}


<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "Organization",
    "name": "{{ site.title }}",
    "url": "{{ site.url }}",
    "sameAs": [
    {% for social in site.social.links %}"{{ social }}"{% unless forloop.last %},{% endunless %}{% endfor %}
    ],
    "logo": "{{ site.url }}{{ site.banner }}",
    "image": "{{ site.url }}{{ site.banner }}",
    "description": "{{ site.description | strip_html }}",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ site.geo.town }}",
      "addressRegion": "{{ site.geo.region }}",
      "postalCode": "{{ site.geo.postalcode }}",
      "addressCountry": "{{ site.geo.country }}"
    }
  }
</script>



{% if page.url == '/radio/' or page.url == '/' %}
<script type='application/ld+json'>
  {
    "@context": "http://www.schema.org",
    "@type": "RadioStation",
    "name": "Basspistol Libre Radio",
    "url": "{{ site.url }}/radio",
    "logo": "{{ site.url }}{{ site.logo }}",
    "image": "{{ site.url }}{{ site.logo }}",
    "description": "Unexpected and Impossible Music. Live interventions and special guests. This is Libre music!",
    "address": {
      "@type": "PostalAddress",
      "addressLocality": "{{ site.geo.town }}",
      "addressRegion": "{{ site.geo.region }}",
      "postalCode": "{{ site.geo.postalcode }}",
      "addressCountry": "{{ site.geo.country }}"
    },
    "geo": {
      "@type": "GeoCoordinates",
      "latitude": "{{ site.geo.lat }}",
      "longitude": "{{ site.geo.long }}"
    }
  }
  </script>
  <script type="text/javascript">
  function getData() {
    $.getJSON('https://radio.basspistol.com/status-json.xsl', function(json) {
        output = "<p>" + "<span style='font-size:14px;'>Now Playing:</span> " + "<br/>";
        output += "<strong>" + json.icestats.source[1].title + "</strong> by <strong>" + json.icestats.source[1].artist + "</strong></p>";
        output += "<p style='font-size:14px;'>" + json.icestats.source[0].listeners + " peers are listening in MP3 <br />";
        output += json.icestats.source[1].listeners + " peers are listening in OGG</p>";
        document.getElementById("radioPlaceholder").innerHTML=output;
      });
  }
  setInterval(getData, 7000);

  $(function() {
      getData();
  });
</script>
   {% endif %}

   <!-- END seo.html -->